[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
djongo = "*"
django-cors-headers = "*"
dnspython = "*"
matplotlib = "*"
pandas = "*"
numpy = "==1.19.3"

[requires]
python_version = "3.8"
